:root {
  --paddingx: 1.5rem;
}

/* STYLING FOR MOBILE AND UP */
body {
  padding-top: 2.5rem;
}

/* SECTION navbar */
/* #region */
.navbar {
  padding: 0 var(--paddingx);
  box-shadow: 0 0 .8rem -.4rem var(--theme-black);
}

#navbarNav {
  justify-content: flex-end;
  padding-bottom: .5rem;
}

.navbar-brand {
  color: white;
  transition: filter .05s ease-in-out;
}

.navbar-brand:focus {
  color: white;
}

.navbar-brand:hover {
  color: var(--theme-comp);
}

.navbar-brand:active {
  filter: brightness(85%);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.fa-bars {
  color: white;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* #endregion */

/* SECTION hero */
/* #region */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../background-gifs/fuller.gif);
  background-size: cover;
  background-position: center;
  padding: 0 var(--paddingx);
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.sign-up-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: var(--shadow);
}

.sign-up-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-up-input {
  border-radius: .1rem;
  border: none;
  background-color: transparent;
  resize: none;
  outline: .1rem solid var(--theme-grayer-white);
}

.phone-input {
  width: 75%;
}

.ext-input {
  width: 20%;
}

.text-area-input {
  resize: none;
}

.checkbox-input {
  accent-color: var(--theme-comp);
}

.submit-button {
  width: fit-content;
  padding: .3rem 1rem;
  background-color: var(--theme-comp-opacity);
  border: none;
  border-radius: .2rem;
  transition: filter .05s ease-in-out;
}

.submit-button:active {
  filter: brightness(85%);
}

.hero-floating-text {
  display: none;
}

.hero-small {
  font-size: 1.5rem;
}

/* #endregion */

/* SECTION mission */
/* #region */
.mission {
  background-color: var(--theme-primary);
  display: flex;
  padding: 1.5rem var(--paddingx);
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

.mission-big,
.mission-small {
  color: white;
}

.mission-small {
  font-size: 1.1rem;
}

.offset-card {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: .2rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  order: 1;
  margin-bottom: 1.5rem;
}

.icon-and-text {
  display: flex;
}

.icon-container {
  width: 4rem;
}

.icon-and-text i {
  color: var(--theme-comp);
  padding: .3rem .5rem 0 0;
  font-size: 2rem;
}

.icon-and-text h5 {
  padding-top: 0;
  font-weight: 500;
}

/* #endregion */

/* SECTION lifestyle */
/* #region */
.live {
  padding: 1.5rem var(--paddingx);
}

.live-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.live-big {
  line-height: 2.75rem;
}

.live-small {
  line-height: 1.75rem;
  margin-top: -2rem;
  font-size: 1.1rem;
}

.more-button {
  width: fit-content;
  padding: .1rem 2rem;
  border: none;
  border-radius: .2rem;
  transition: filter .05s ease-in-out;
  color: white;
  align-self: flex-end;
}

.more-button:active {
  filter: brightness(85%);
}

/* #endregion */

/* SECTION reviews */
/* #region */
.reviews {
  padding: 1.5rem var(--paddingx) 0;
}

.reviews .row {
  align-items: center;
}

.review-card {
  display: flex;
}

.side-card,
.middle-card {
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
}

.middle-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.first-card {
  order: 1;
}

.review-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.review-text-container p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.headshot {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.star-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: white;
}

.star-icon {
  background-color: var(--theme-primary);
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: .03rem;
}

.headshot+p {
  border-bottom: .1rem solid var(--theme-comp);
}

/* #endregion */

/* SECTION footer */
/* #region */
.footer {
  padding: 2rem var(--paddingx);
  color: white;
}

.footer-big a {
  text-decoration: none;
  color: var(--theme-comp);
  transition: filter .05s ease-in-out;
}

.footer-big a:hover {
  color: var(--theme-comp);
}

.footer-big a:active {
  filter: brightness(85%);
}

.footer-small {
  margin-bottom: 0;
}

.copyright {
  padding: 0 var(--paddingx);
}

.copyright .row .col {
  text-align: center;
  font-size: .7rem;
}

/* #endregion */