:root {
  --theme-primary: #ad1457;
  --theme-comp: #14ad6b;
  --theme-comp-opacity: #14ad6b11;
  --theme-analogous: #ad14a3;
  --theme-gray-white: #f8f8f8;
  --theme-grayer-white: #d6d6d6;
  --theme-black: #0a0a0a;
  --theme-black-opacity: #0a0a0a39;
  --shadow: .2rem .2rem .2rem -.2rem #0a0a0a;
}

/* Theme Classes */
body {
  font-family: 'Open Sans', sans-serif;
}

.theme-primary {
  color: var(--theme-primary);
}

.theme-primary-bg {
  background-color: var(--theme-primary);
}

.theme-comp {
  color: var(--theme-comp);
}

.theme-comp-bg {
  background-color: var(--theme-comp);
}

.theme-analogous {
  color: var(--theme-analogous);
}

.theme-analogous-bg {
  background-color: var(--theme-analogous);
}

.theme-gray-white {
  color: var(--theme-gray-white);
}

.theme-gray-white-bg {
  background-color: var(--theme-gray-white);
}

.theme-grayer-white {
  color: var(--theme-grayer-white);
}

.theme-black {
  color: var(--theme-black);
}

.theme-black-bg {
  background-color: var(--theme-black);
}

.white-opacity {
  color: rgb(255, 255, 255, .8);
}

.black-opacity {
  color: rgb(0, 0, 0, .75);
}

/* CSS for navbar links */
.theme-nav {
  text-decoration: none;
  color: var(--theme-gray-white);
  transition: color .1s ease-in-out;
  transition: filter .05s ease-in-out;
}

.theme-nav:hover {
  color: var(--theme-comp);
}

.theme-nav:active {
  filter: brightness(85%);
}